hr
{
  border-color: #CCCCCC;
  border-width: 4px 0 0 0;
  border-style: solid;
}
 
*{
	margin: 0;
	padding: 0;
}


.hide {
	display:none;
}
.show {
	display:block;
}

h3
{
	font-family: monospace;
	font-size: 150%;
	padding-left: 25px;
	margin-top: 20px;
	margin-bottom: 9px;
}

p
{
	margin-top: 5;
	margin-bottom: 5;
}

/* body */
#body
{
	-moz-background-clip: border;
	-moz-background-origin: padding;
	-moz-background-size: auto auto;
	background-position: 0 0;
	border-top-style: solid;
	margin: 0;
	padding: 0;
	 
} 
/* Navbar */
#navbar
{
	margin: 0 !important;
	padding: 0 !important;
	background-color: #BBCCDD;
	border-bottom-color: #000000;
	border-bottom-style: solid !important;
	border-bottom-width: 5px !important;
}
 
/* Submenu */
#sidebar
{
  width: 109px;
  padding-right: 20px;
  margin-bottom: 20px;
  float: left;
  clear: left;
  
  border-color: #000;
  border-style: solid;
  border-width: 0px;
  border-right-width: 3px;
}
 
#sidebar a {
  color: rgb(0,102,204);
  background-color: transparent;
  margin: 0;
  padding: 0.25em 1ex 0.25em 2mm;
  display: block;
  font-weight: bold!important;
  font-size: 102%;
  border-left: white solid 0.2em;
  text-decoration:none;
}

#sidebar a:hover {
  color: white;
  background-color: rgb(100,135,220);
  border-left: black solid 0.2em;
  text-decoration: none;
}

#sidebar ul
{
  margin: 0;
  padding: 0;
  list-style-type: none;
  list-style-image: none;
}

#sidebar ul li
{
  padding: 5px;
  border-color: #B1BA29;
  border-style: solid;
  border-width: 0px;
  border-bottom-width: 2px;
}

/* Wrapper */
#wrapper
{
  width: 800px;
  margin: 0 auto;
  margin-top: 20px;
}
 
/* Content */
#content
{
  width: 580px;
  padding-left: 20px;
  margin-bottom: 20px;
  float: left;
}

#content h1, h1 a, h2
{
  color: #252525;
  margin-bottom: 5px;
  padding-bottom: 2px;

  font-family: Georgia;
  font-size: 20px;
  font-weight: normal;

  border-color: #B1BA29;
  border-style: solid;
  border-width: 0px;
  border-bottom-width: 2px;
}

